<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "be.irceline.mobile"
        version   = "0.0.1">

    <name>Air Quality Belgium</name>

    <description>
        Realtime air quality information - Belgium
    </description>

    <author href="http://www.irceline.be" email="info@irceline.be">
        Belgian Interregional Environment Agency (IRCEL - CELINE)
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->

</widget>
